{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}
        <div class="cut-line"></div>
    <main class="container">
        <section class="frame__profile">
            <div class="card__feed__profile">
                <div class="profile__edit">
                    <a class="profile__text__edit"
                       href="
{% if not social_account %}{% url 'authentication:profile_edit' %}
{% else %}
{% url 'authentication:profile_from_google_edit' %}
{% endif %}"
                    >Изменить</a>
                </div>
                <div class="profile__main">
                    <div class="profile__foto"
                         {% if not social_account %}
                            {% if user.photo %}
                         style="background-image: url('{{ user.photo.url }}');"
                            {% else %}
                         style="background-image: url('{% static 'core/img/Anonymous_emblem.png' %}');"
                            {% endif %}
                        {% else %}
                         style="background-image: url('{{ user.socialaccount_set.all.0.get_avatar_url }}');"
                        {% endif %}
                    >
                    </div>
                    <div>
                        <div class="padding-top-60">
                            <b class="profile__text__name">{{ user.username }}</b>
                        </div>
                        <div class="padding-top-20">
                            <b class="profile__text__description">
                                {% if user.description %}
                                {{ user.description }}
                                {% endif %}
                            </b>
                        </div>
                        <div class="padding-top-40">
                            <b class="profile__text__my_post">Лайкнутых постов:</b>
                            <b class="profile__text__digits">{{ likes_count }}</b>
                        </div>
                        <div class="padding-top-20">
                            <b class="profile__text__my_post">Моих постов:</b>
                            <b class="profile__text__digits">{{ posts_count }}</b>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="">
                        {% if subscribers.count > 0 %}
                            <b class="login">На вас подписаны:</b>
                            <ul>
                                {% for subs in subscribers %}
                                    <li>
                                        <a class="text-sheet"
                                           href="{% url 'blog:index' %}?user={{ subs.subscriber.username }}">
                                            {{ subs.subscriber }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% else %}
                                <b class="login">На Вас ещё не кто не подписан</b>

                            </ul>
                        {% endif %}
                    </div>
                    <div>
                    {% if subscriptions.count > 0 %}
                        <b class="login">Вы подписаны на:</b>
                        <ul>
                            {% for subs in subscriptions %}
                                <li>
                                    <a class="text-sheet" href="{% url 'blog:index' %}?user={{ subs.author.username }}">
                                        {{ subs.author }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                        <b class="login">Вы ещё не на кого не подписаны</b>
                        </ul>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}