{% extends 'core/base.html' %}

{% block title %}
Добавить пост
{% endblock title %}

{% block content %}
<form 
    {% if 'add_post' in request.path %}
    action="{% url 'blog:add_post' %}"
    {% else %}
    action="{% url 'blog:post_edit' post.id %}"
    {% endif %}
    method="post" enctype="multipart/form-data">

{% comment %} передаелать экшон вовнутрь ифа для переноса строки{% endcomment %}

    {% csrf_token %}
    {{request.path}}
    {{form.as_p}}
    <button type="submit">{% if 'add_post' in request.path %}Добавить{% else %}Обновить{% endif %}</button>
</form>

{% endblock content %}