{% extends 'core/base.html' %}

{% load tailwind_filters %}


{% block title %}
    Добавить пост
{% endblock title %}

{% block content %}
    <div class="cut-line"></div>
    <section class="frame">
        <form class="padding-25"
                {% if 'add_post' in request.path %}
              action="{% url 'blog:add_post' %}"
                {% else %}
              action="{% url 'blog:post_edit' post.id %}"
                {% endif %}
              method="post" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit">{% if 'add_post' in request.path %}Добавить{% else %}Обновить{% endif %}</button>
        </form>
    </section>
{% endblock content %}

{% block js %}
    <script>
    $(document).ready(function() {
    $('select[name="tags"]').select2();
    });
    </script>
{% endblock js %}
