{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="cut-line"></div>
    <section class="frame">
        {#    теги перенести вправо #}
        <div class="tag">
            {% for tag in tags %}
                <button
                        id='tagBtn{{ tag.id }}' |
                        data-option="{{ tag.slug }}Option"
                        onclick="toggleTag(this)"
                        {% if tag.slug in query_tags %}
                        class="tag_button selected"
                        {% else %}
                        class="tag_button"
                        {% endif %}
                >
                    {{ tag.title }}</button>
            {% endfor %}
        </div>

        <div class="input-search">
            <form id="tagsForm" action="{% url 'blog:index' %}" method="get">
                <select class="hidden" name="tags" multiple>
                    {% for tag in tags %}
                        <option
                                id="{{ tag.slug }}Option"
                                value="{{ tag.slug }}"
                                {% if tag.slug in query_tags %}
                                selected
                                {% endif %}
                        >
                            {{ tag.title }}
                        </option>
                    {% endfor %}
                </select>
                <div class=" search-wrapper">
                    <input class="search-input" name="search" type="text">
                    <button type="submit">Поиск</button>
                </div>
            </form>
        </div>
        <div class="post__list">
            {% for post in posts %}
                <div class="card-feed">
                    {% if post.author %}
                        <div class="card__header">
                            <button class="login-btn button-foto"
                                    style="background-image: url('{% static 'core/img/svg/Ellipse4.svg' %}');"
                                    onclick="window.location.href='#'"></button>
                            <a class="login" href="{% url 'blog:index' %}?user={{ post.author }}">Автор поста: {{ post.author }}
                            </a>
                        </div>
                    {% endif %}

                    <div class="card__body">
                        {#                        придумать что делать с фото!!#}
                        {% if post.photo %}
                            <div class="post__img">
                                <img class="post__photo" src="{{ post.photo.url }}">
                            </div>
                        {% endif %}
                        <b class="text-sheet">
                            Тема: {{ post.title }}
                        </b>
                        {#                        пока поставил бр НУЖНО ПОПРАВИТЬ!!!!#}
                        <br>
                        <b class="text-sheet">
                            {{ post.body | truncatechars:100 }}
                        </b>
                    </div>
                    <div class="card__footer_elements">
                        <div class="card__footer__feed">
                            <button class="card__footter__button card__footter__button__like"></button>
                            <b class="text-sheet">{{ post.likes.count }}</b>
                            <button class="card__footter__button card__footter__button__comment"></button>
                            <b class="text-sheet">{{ post.comments.count }}</b>
                        </div>
                        <div><a class="text-sheet" href="{% url 'blog:post' post.id %}">Читать подробнее</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>

        <br>

        <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% if query_params %}&{{ query_params }}{% endif %}">&laquo; в начало</a>
                        <a href="?page=
                                {{ page_obj.previous_page_number }}{% if query_params %}&{{ query_params }}{% endif %}">
                            предыдущая</a>
                    {% endif %}

                    <span class="current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if query_params %}&{{ query_params }}{% endif %}
                            ">следущая</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}
                            {% if query_params %}&{{ query_params }}{% endif %}
                            ">в конец &raquo;</a>
                    {% endif %}
                </span>
        </div>
    </section>
{% endblock content %}

{% block js %}
    <script>
        function toggleTag(element) {
            const button = element;
            console.log(button);
            const option = document.getElementById(button.dataset.option);
            console.log(option);
            option.selected = !option.selected;
            button.classList.toggle('selected');
        }

        const tagsForm = document.getElementById('tagsForm');
        {% for tag in tags %}
            const tagBtn{{ tag.id }} = document.getElementById('tagBtn{{ tag.id }}');
            tagBtn{{ tag.id }}.addEventListener('click', () => tagsForm.submit());
        {% endfor %}
    </script>
{% endblock js %}
