{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {{ post_title }}
{% endblock title %}

{% block content %}
    <div class="cut-line"></div>
    <section class="frame margin-auto">
        <div class="card-feed">
            <div>
                {% if post.author %}
                    <div class="card__header">
                        <button class="login-btn button-foto"
                         {% if not socialAccount %}
                            {% if user.photo %}
                         style="background-image: url('{{ user.photo.url }}');"
                            {% else %}
                         style="background-image: url('{% static 'core/img/Anonymous_emblem.png' %}');"
                            {% endif %}
                        {% else %}
                         style="background-image: url('{{ user.socialaccount_set.all.0.get_avatar_url }}');"
                        {% endif %}
                        ></button>
                        <b class="login">Автор поста: {{ post.author }}
                        </b>
                    </div>
                {% endif %}
                {#                <h4>Автор поста: {{ post.author }}</h4>#}
                <div class="subscibe-field">
                    <div class="card__body">
                        <b class="text-sheet">
                            Тема: {{ post.title }}
                        </b>
                    </div>

                    {% if request.user != post.author and post.author and user.is_authenticated %}
                        {% if is_subscribe %}
                            <a class='text-sheet'
                               href="{% url 'authentication:unsubscribe' post.author.id %}">отписаться</a>
                        {% else %}
                            <a class='text-sheet' href="{% url 'authentication:subscribe' post.author.id %}">
                                подписаться на автора</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if post.photo %}
                <div class="">

                    <a href="{{ post.photo.url }}" target="_blank">
                        <img class="post__photo" src="{{ post.photo.url }}" alt="Здесь должна быть фотография,
                     но что-то пошло не так"></a>
                </div>
            {% endif %}

            <hr>
            <div class="card__body">
                <b class="text-sheet">{{ post.body }}</b>
                {{ comment.text }}
                {{ comment.id }}
            </div>
            {% if request.user == post.author %}
                <div class="edit-or-delete__post">
                    {% if request.user == post.author %}
                        <a class="profile__text__edit" href="{% url 'blog:post_edit' post.id %}">Редактировать пост</a>
                        <a class="profile__text__edit" href="{% url 'blog:post_delete' post.id %}">Удалить пост</a>
                    {% endif %}
                </div>
            {% endif %}

            <div>

            </div>
            <div class="card__footer_elements padding-top-20">
                <div class="card__footer">
                    {% if user.is_authenticated %}
                        {% if request.user == post.author %}
                            <button class="card__footter__button card__footter__button__like" id="likeBtn"
                                    onclick="toggleBlock('like')">
                            </button>
                        {% else %}
                            <button class="card__footter__button card__footter__button__like
                            {% if like %}button__like__pressed{% endif %}
                            " id="setLikeBtn" onclick="like({{ post.id }})">
                            </button>
                        {% endif %}
                        <b class="text-sheet" id="likesCount">{{ post.likes.count }}</b>


                        <button class="card__footter__button card__footter__button__comment" id="commentsBtn">
                        </button>
                        <b class="text-sheet">{{ post.comments.count }}</b>


                        <button class="card__footter__button card__footter__button__share" id="shareBtn">
                        </button>
                        <div class="hidden" id="shareBlock">
                            <div class="share__frame">
                                <div class="share__frame__item">share</div>
                                <div class="share__frame__item">
                                    <button class="profile__social__btn ">
                                        <i class="btn__icon share__whatsapp"></i>whatsapp
                                    </button>
                                </div>
                                <div class="share__frame__item">
                                    <button class="profile__social__btn">
                                        <i class="btn__icon share__telegram"></i>telegram
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
                    {% endif %}
            </div>

            <div class="likes hidden" id="likeBlock">
                <div>
                    <b class="text-sheet">All Likes</b>
                </div>
                <div class="likes__like">
                    <div class="like-foto"
                         style="background-image: url('{% static 'core/img/svg/Ellipse 1115.svg' %}');"
                    >
                    </div>
                    <b class="text-sheet">Megan</b>
                </div>
                <div class="comments
            {% if 'comments' in request.path %}
            {% else %}
            hidden
            {% endif %}
            " id="commentsBlock">
                    <div class="input-wrapper">
                        {% if user.is_authenticated %}
                            <form
                                    action="{% url 'blog:post' post.id %}" method="post">
                        <textarea name="text"
                                  class="comment-field add__comment__text" placeholder="Add your comment"
                                  id="addCommentText"
                        ></textarea>
                                <div class="padding-top-20">
                                    {{ form.text.errors }}
                                </div>
                                {% csrf_token %}

                                <button class="btn" type="submit">Добавить комментарий</button>
                            </form>
                            <hr>
                        {% endif %}

                    </div>
                    {% for com in post.comments.all %}


                        <div class="commetnts__comment">
                            <div class="padding-top-10">
                                <div class="like-foto"
                                     style="background-image: url('{% static 'core/img/svg/Ellipse 1118.svg' %}');">
                                </div>
                            </div>

                            <div>
                                <div class="padding-15">
                                    <div>
                                        <b class="comment__text__name">{{ com.author }}</b>
                                        <b class="comment__text__date">{{ com.created_at }}</b>
                                    </div>
                                    {% if com.reply_to %}
                                        <div>
                                            <a href="#comment{{ com.reply_to.id }}"
                                               onclick="selectComment('comment{{ com.reply_to.id }}')">
                                                Ответ на кооментарий {{ com.reply_to.author }}:
                                                >>{{ com.reply_to.id }}</a>
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="comment-card" id="comment{{ com.id }}">
                                    <div>
                                        <b class="comment__text__date">{{ com.text }}
                                        </b>
                                    </div>
                                    <div>
                                        {% if com.author == request.user %}
                                            <a class="comment__reply"
                                               href="{% url 'blog:comment_edit' post.id com.id %}#comment{{ com.id }}">
                                                Редактировать</a> |
                                            <a class="comment__reply"
                                               href="{% url 'blog:comment_delete' post.id com.id %}">
                                                Удалить комментарий</a>
                                            {% if comment.id == com.id %}
                                                <form method="POST">
                                        <textarea name="text"
                                                  class="comment-field add__comment__text"
                                                  placeholder="Add your comment"
                                                  id="addCommentText"
                                        >{{ com.text }}</textarea>
                                                    {% csrf_token %}
                                                    <button class="btn" type="submit">Обновить комментарий</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            <a class="comment__reply"
                                               href="{% url 'blog:comment_reply' post.id com.id %}#comment{{ com.id }}">Reply</a>
                                            {% if reply_to.id == com.id %}
                                                <form method="POST">
                                            <textarea name="text"
                                                      class="comment-field add__comment__text"
                                                      placeholder="Add your comment"
                                                      id="addCommentText"
                                            ></textarea>
                                                    {% csrf_token %}
                                                    <button class="btn" type="submit">Ответить на комментарий</button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                {% if com.replies.exists %}
                                    <div class="padding-15">
                                        <b>Ответы:</b>
                                        {% for reply in com.replies.all %}
                                            <a href="#comment{{ reply.id }}"
                                               onclick="selectComment('comment{{ reply.id }}')">
                                                >> {{ reply.id }} <<
                                            </a>
                                            {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
    <script src="{% static 'blog/js/main.js' %}"></script>
{% endblock js %}