{% extends 'core/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}
    Авторизация
{% endblock title %}

{% block content %}
    <section class="grid-section">
        <div class="card">
            <div>
                <h1 class="header">Добро пожаловать</h1>
                <h4 class="header-secondary">Вход</h4>
            </div>
            <div class="card__body">
                <form method="POST" action="" id="loginForm">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <input class="input" name="username" required type="text"
                               placeholder="Логин">
                    </div>
                    <div class="input-wrapper">
                        <input class="input" name="password" required type="password" placeholder="Пароль">
                    </div>
{#                    <div class="remember">#}
{#                        <div>#}
{#                            <input id="remember_me" type="checkbox">#}
{#                            <label class="catd-text" for="remember_me">remember</label>#}
{#                        </div>#}
{#                        <div>#}
{#                            <a class="catd-text" href="#">forget</a>#}
{#                        </div>#}
{#                    </div>#}
                </form>
                <div class="placeholder placeholder-150 padding-top-40">
                    {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="input-wrapper">
                    <button id="loginBtn" class="btn">Вход</button>
                </div>
            {% if debug %}
                <div class="input-wrapper">
                    <button class="btn" onclick="window.location.href='{% provider_login_url 'google' %}'">
                        <i class="btn__icon btn__icon__google"></i>Войти с помощью google
                    </button>
                </div>
            {%  endif %}
                <div>
                    <p class="text text-center">Нет аккаунта?
                        <a class="text text-bold" href="{% url 'authentication:registration' %}">Зарегистрируйся</a></p>
                </div>
            </div>
            <div class="card__footer"></div>
        </div>
        <div>
            <h1 class="main-header text-center">Расскажи</h1>
            <img class="super__picture__2" src="{% static 'core/img/svg/illustration.svg' %}" width="100%" height="auto"
                 alt="картинка упала">
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script>
        const loginForm = document.getElementById('loginForm');
        const loginBtn = document.getElementById('loginBtn');
        loginBtn.addEventListener('click', () => loginForm.submit());
    </script>
{% endblock js %}