<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
<section class="background"></section>

<header class="navbar-wrapper">
    <nav class="navbar">
        <div><a class="logo" href="{% url 'blog:index' %}">Quilog</a>
        </div>
        {% if not user.is_authenticated %}
            <div class="login-wrapper">
                <a class="login" href="{% url 'authentication:login' %}">login</a> <b class="login">or</b>
                <a class="login" href="{% url 'authentication:registration' %}">Signup</a>
                <button class="login-btn button-pic"></button>
            </div>
        {% else %}
            <a class="login" href="{% url 'blog:add_post' %}">Добавить запись</a>
            <a class="login" href="{% url 'authentication:logout' %}">Logout</a>
            <div class="login-wrapper">

                <a class="login" href="#">Hey, {{ user.username }}</a>
                <button class="login-btn button-foto" style="background-image: url('./static/img/svg/Ellipse2.svg');"
                        onclick="window.location.href='{% url "authentication:profile" %}'"></button>
            </div>
        {% endif %}
    </nav>
</header>

<main class="container">
    {% block content %}



    {% endblock content %}
</main>
<footer class="container"></footer>
{% block js %}
{% endblock js %}
</body>

</html>