<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
<section class="background"></section>

<header class="navbar-wrapper">
    <nav class="navbar">
        <div><a class="logo" href="{% url 'blog:index' %}">Quilog</a>
        </div>
        {% if not user.is_authenticated %}
            <div class="login-wrapper">
                <a class="login" href="{% url 'authentication:login' %}">login</a> <b class="login">or</b>
                <a class="login" href="{% url 'authentication:registration' %}">Signup</a>
                <button class="login-btn button-pic"></button>
            </div>
        {% else %}
            <div class="login-wrapper">
                <a class="login" href="#">Hey, Niraj</a>
                <button class="login-btn button-foto" style="background-image: url('./static/img/svg/Ellipse2.svg');"
                        onclick="window.location.href='#'"></button>
            </div>
        {% endif %}
    </nav>
</header>

<main class="container">
    {% block content %}



    {% endblock content %}
</main>
<footer class="container"></footer>
{% block js %}
{% endblock js %}
</body>

</html>