<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
    
    <header class="container">
        
        <nav class="nav-bar">
            <section class="nav-bar__section"><a class="nav-bar__logo" href="">сайт лого</a>
            </section>
            <section class="nav-bar__section">
                <ul class="nav-bat__itmes">
                    <li class="nav-bar__item"><a href="{% url 'blog:index' %}"> главная</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-bar__item"><a href="{% url 'blog:add_post' %}">Добавить пост</a></li>
                    {% endif %}
                    <li class="nav-bar__item"><a href="{% url 'authentication:profile' %}"> профиль </a></li>
                    <li class="nav-bar__item"><a href="{% url 'authentication:subscibe_list' %}"> мои подписки </a></li>
                </ul>
            </section>
            Вы вошли как: {{request.user}}
            {% if user.is_authenticated %}
            <section class="nav-bar__section"><button class="button" onclick="document.location='{% url 'authentication:logout'%}'">logout</button></section>
            {% else %}
            <section class="nav-bar__section">
                <button class="button" onclick="document.location='{% url 'authentication:registration'%}'">registration</button>
            <button class="button" onclick="document.location='{% url 'authentication:login'%}'">login</button>
            </section>
            {% endif %}
            
        </nav>
    </header>
    <main class="container">
{% block content %}



{% endblock content %}
    </main>
<footer class="container"></footer>
</body>

</html>