{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}

{% block content %}
        <div>
            <ul class="tag__list">
                {% for tag in tags %}
                <li class="tag"><a href="{% url 'blog:tag' tag.slug %}">{{ tag.title }}</a>
                </li>
                {% endfor%}
            </ul>
        </div>

        <form class="form" action="{% url 'blog:index' %}" method="get">
            <div class="search-wrapper">
                <input class="search__input" placeholder="поиск..." name="search" type="text">
                <button class="custom-btn btn-6" type="submit">Поиск</button>
            </div>
        </form>
        <div class="post__list">
            {% for post in posts %}
            <div class="post">
                <div>
                    {% if post.author %}
                    <p>Автор поста: {{post.author}}</p>
                    {% endif %}
                </div>
                <div>
                    {% if post.photo %}
                    <p><img src="{{ post.photo.url }}"></p>
                    {% endif %}
                </div>
                <div class="post__header">
                    <h4>{{ post.title | truncatechars:40}}</h4>
                </div>
                <div class="post__content">
                    <p>{{ post.body | truncatechars:100 }}</p>
                </div>
                <div class="post__footer" >
                    <a class="read_more" href="{% url 'blog:post' post.id %}">Читать стих полностью</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; в начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}
    
                <span class="current">
                    страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следущая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock content%}
