{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
        <div>
            <ul class="tag__list">
                {% for tag in tags %}
                <li class="tag"><a href="{% url 'blog:tag' tag.slug %}">{{ tag.title }}</a>
                </li>
                {% endfor%}
            </ul>
        </div>
        <form action="{% url 'blog:index' %}" method="get">
            <input name="search" type="text">
            <button type="submit">Поиск</button>
        </form>
    
        <div>
            {% for post in object_list %}
            <div>
                <h4>{{ post.title }}</h4>
                <p>{{ post.body | truncatechars:100 }}</p>
            </div>
            {% endfor %}
        </div>
    
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; в начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}
    
                <span class="current">
                    страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следущая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock content%}
