<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url "index" %}" method="get">
        <input name="search" type="text" name="search">
        <button type="submit">Поиск</button>
    </form>
    <div>
        {% for post in object_list %}
        <div>
            <h4>{{ post.title }}</h4>
            <p>{{ post.body | truncatechars:100 }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; в начало</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следущая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>

</html>