{% extends 'base.html' %}

{% block title %}
Стих {{post_title}}
{% endblock title %}

{% block content %}
<h1 class="hr">{{post.title}}</h2>

<p>{{post.body}}</p>
{% if request.user == post.author %}
<a href="{% url 'blog:post_edit' post.id %}">редактировать пост</a>
<a href="{% url 'blog:post_delete' post.id %}">удалить пост</a>
{% endif %}
<hr>
<form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Добавить комментарий</button>
</form>
<hr>
<div>
    {% for comment in post.comments.all %}
    <p>Автор комментария: {{comment.author.username}} дата создания: {{comment.created_at}}</p>
    <p>{{comment.text}}</p>
    {% endfor %}
</div>

{% endblock content %}