{% extends 'base.html' %}

{% block title %}
{{post_title}}
{% endblock title %}

{% block content %}
<h1 class="hr">{{post.title}}</h1>
<div>
    <h4>Автор поста: {{post.author}}</h4>
    {% if request.user != post.author %}
    <a href="{% url 'authentication:subscibe' post.author.id %}">подписаться на автора</a> | 
    <a href="{% url 'authentication:unsubscribe' post.author.id %}">отписаться</a>
    {% endif %}
</div>

<p>{{post.body}}</p>
{% if request.user == post.author %}
<a href="{% url 'blog:post_edit' post.id %}">редактировать пост</a> | 
<a href="{% url 'blog:post_delete' post.id %}">удалить пост</a>
{% endif %}
<hr>

{% if user.is_authenticated %}

<form 
    {% if 'comments' in request.path %}
    action="{% url 'blog:comment_edit' post.id comment.id  %}" 
    {% else %}
    action="{% url 'blog:post' post.id %}"
    {% endif %}
    method="post">

    {% csrf_token %}
    {{request.path}}
    {{form.as_p}}

    <button type="submit">Добавить комментарий</button>
</form>
<hr>

{% endif %}

<div>
    {% for comment in post.comments.all %}
    <p>
        {% if request.user == comment.author %}
        <a href="{% url 'blog:comment_edit' post.id comment.id %}">редактировать комментарий</a> | 
        {% endif %}
        {% if request.user == comment.author or request.user == post.author %}
        <a href="{% url 'blog:comment_delete' post.id comment.id %}">удалить комментарий</a>
        {% endif %}
    </p>
    <p>Автор комментария: {{comment.author.username}} | 
        дата создания: {{comment.created_at}}</p>
    <p>{{comment.text}}</p>
    {% endfor %}
</div>

{% endblock content %}